@import 'tailwindcss';

@theme {
  --color-background: rgb(10 9 8 / 97%);
  --color-item-hover: rgb(255 255 255 / 5%);
  --color-item-selected: rgb(255 255 255 / 10%);
  --color-foreground: #f5f5f4;
  --color-foreground-subtle: #8a8582;
  --color-border: rgb(255 255 255 / 8%);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: transparent;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-size: 14px;
}

input {
  -webkit-user-select: text;
  user-select: text;
}

input::selection {
  background: var(--color-item-selected);
  color: var(--color-foreground);
}
